<h1>Listing notice_messages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>From date</th>
      <th>To date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notice_messages.each do |notice_message| %>
      <tr>
        <td><%= notice_message.title %></td>
        <td><%= notice_message.content %></td>
        <td><%= notice_message.from_date %></td>
        <td><%= notice_message.to_date %></td>
        <td><%= notice_message.status %></td>
        <td><%= link_to 'Show', notice_message %></td>
        <td><%= link_to 'Edit', edit_notice_message_path(notice_message) %></td>
        <td><%= link_to 'Destroy', notice_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notice message', new_notice_message_path %>
