<%= name %>
<div class="DOOR <%= status %>">
  <img class="VACANT OUTSIDE door-toggle" src=<%= AssetsPaths["vacant.png"] %>>
  <img class="VACANT INSIDE door-toggle" src="<%= AssetsPaths["vacant_out.png"] %>">
  <img class="OCCUPIED OUTSIDE door-toggle" src="<%= AssetsPaths["occupied.png"] %>">
  <img class="OCCUPIED INSIDE door-toggle" src="<%= AssetsPaths["occupied_out.png"] %>">
  <img class="UNKNOWN OUTSIDE" src="<%= AssetsPaths["unknown.png"] %>">
</div>
