
<div><%= message_for_device_status( @device.status ) %></div>
<% if @device.status_updated_at.present? %>
<div><%=  @device.status_updated_at.strftime("%Y/%m/%d %H:%M:%S") %></div>
<% end %>

<div id="asl1">
</div>
<div id="asl2">
</div>

<% Stall.all.each do |s|%>
<%= render 'stall', stall: s %>
<% end %>

<%= javascript_tag do %>
  setInterval( window.listen_heart_beat_request ,12000);
  //setTimeout( function(){ location.reload(); } ,1000);
  new MyView({ el: "#asl1", model: new Stall( <%= Stall.find_by( name: 'asl1').to_json.html_safe %> ) }).render();
  new MyView({ el: "#asl2", model: new Stall( <%= Stall.find_by( name: 'asl2').to_json.html_safe %> ) }).render();
<% end %>


